.btn:focus {
  outline: none;
  box-shadow: none;
}

#navbar {
  position: relative;
  left: 280px;
}

#sidebar {
  position: fixed;
  left: 0;
  width: 250px;
}

.container {
  position: relative;
  left: 130px;
}
