.btn:focus {
  outline: none;
  box-shadow: none;
}

a {
  color: #494f53;
}

#navbar {
  position: relative;
  left: 300px;
}

#sidebar {
  z-index: 1;
}

.dropdown-menu {
  z-index: 5;
}

.dropdown-toggle::after {
  display: none;
}

#course-page {
  position: relative;
  right: 100px;
}

#home {
  position: relative;
  right: 100px;
}

#resource-list {
  position: relative;
  right: 100px;
}
